// @import '../layouts/colors'

.work {
	display: flex;
	width: 800px;
	height: 700px;
	margin: 20px 0px;
	margin-top: 0px;
	margin-bottom: 60px;
	// border-top: 2px $accent2 solid;
	padding-top: 4px;
	h1 {
		// color: $black !important;
		font-weight: 500 !important;
		font-family: 'gt_walsheim' !important;
		text-transform: lowercase;
		font-size: 20px;
	}
	p {
		// color: $accent2;
		font-family: 'gt_walsheim' !important;
		font-size: 14px;
		font-weight: 200;
		margin-top: -6px;
		padding-bottom: 8px;
		text-transform: lowercase;
	}
	a {
		width: 100%;
		height: 100%;
	}
}
.meta {
	display: flex;
	align-items:flex-start;
	justify-content: flex-start;
	flex-direction: column;
}
.thumbnail {
	
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;


}
